.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: clip;
  align-items: center;
  max-width: 100vw;
  overflow-y: visible;
}
.strips {
  position: relative;
}
.whiteStrips {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.905rem;
  height: 7.5rem;
  position: relative;
  transform: rotate(2deg);
  z-index: 1;
}
.whiteStripDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.905rem;
  background: white;
}
.whiteStripDiv h1 {
  background: transparent;
  font-weight: 700;
  font-size: 4rem;
  width: max-content;
}
.whiteDots {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: black;
}
.blackStrips {
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.938rem;
  height: 7.5rem;
  transform: rotate(-2deg);
  position: relative;
  top: 1rem;
}
.blackStripDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.938rem;
  background: #313131;
}
.blackDots {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.whiteStripDiv {
  animation: animate1 20s linear infinite;
  animation-delay: -20s;
}
.whiteStripDiv:nth-child(2) {
  animation: animate2 20s linear infinite;
  animation-delay: 0s;
}

@keyframes animate1 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.blackStripDiv {
  animation: animate3 20s linear infinite;
  animation-delay: -40s;
}
.blackStripDiv:nth-child(2) {
  animation: animate4 20s linear infinite;
  animation-delay: -40s;
}
@keyframes animate3 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
.competitiveDiv {
  position: relative;
  z-index: 2;
  height: 42.5rem;
  margin-top: 4.5rem;
}
.competitiveDiv::after {
  content: "";
  position: relative;
  display: flex;
  width: 0rem;
  height: 0rem;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50rem 12rem #d9d9d933;
  z-index: -2;
}
.rightRows {
  background: none;
  top: -3%;
  z-index: -1;
  display: flex;
  gap: 6.25rem;
  position: absolute;
}
.rightRows:last-child {
  background: none;
  z-index: -1;
  display: flex;
  gap: 6.25rem;
  position: absolute;
  top: 63%;
}
.leftRows {
  background: none;
  top: 30%;
  z-index: -1;
  display: flex;
  gap: 6.25rem;
  position: absolute;
}
.bubble {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  background: #666;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px #666;
  filter: grayscale(100%);
  transition: 0.4s;
}
.bubble::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: inherit;
  opacity: 0.6;
}
.eclImg {
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 50%;
}
.bubble:hover {
  box-shadow: none;
  border: 2px dashed #d9d9d91a;
  padding: 1rem;
  background-color: transparent;
}

.bubble:hover {
  border-color: white;
  width: 12.813rem;
  height: 12.813rem;
  filter: none;
}
.rightRows.paused {
  animation-play-state: paused;
}
.leftRows.paused {
  animation-play-state: paused;
}
.rightRows {
  transform: translateX(-100rem);
}
.leftRows {
  transform: translateX(-74rem);
}
/* .rightRows {
  animation: animate5 20s linear infinite;
  animation-delay: 0s;
} */
@keyframes animate5 {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
/* .leftRows {
  animation: animate7 20s linear infinite;
  animation-delay: 0s;
} */
@keyframes animate7 {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-60%);
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1220px) {
}
@media (max-width: 1024px) {
  .whiteStrips {
    height: 6rem;
    gap: 1.5rem;
  }
  .blackStrips {
    height: 6rem;
    gap: 2.5rem;
  }
  .whiteStripDiv {
    gap: 1.5rem;
  }
  .blackStripDiv {
    gap: 2.5rem;
  }
  .whiteStripDiv h1 {
    font-size: 3rem;
  }
  .blackStripDiv img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .whiteDots,
  .blackDots {
    width: 1rem;
    height: 1rem;
  }
  .bubble {
    padding: 0.95rem;
    width: 9rem;
    height: 9rem;
  }
  .bubble:hover {
    width: 12rem;
    height: 12rem;
  }
  .rightRows {
    gap: 3.554rem;
  }
  .leftRows {
    gap: 3.554rem;
    /* top: 32.5%; */
  }
  .rightRows:last-child {
    gap: 3.554rem;
    /* top: 65%; */
  }
  .competitiveDiv {
    height: 38.5rem;
  }
  .competitiveDiv::after {
    box-shadow: 0px 0px 30rem 12rem #d9d9d933;
  }
}
@media (max-width: 900px) {
  .whiteStrips {
    height: 5.8rem;
    gap: 1.3rem;
  }
  .blackStrips {
    height: 5.8rem;
    gap: 2.3rem;
  }
  .whiteStripDiv {
    gap: 1.3rem;
  }
  .blackStripDiv {
    gap: 2.3rem;
  }
  .whiteStripDiv h1 {
    font-size: 2.8rem;
  }
  .blackStripDiv img {
    width: 3.3rem;
    height: 3.3rem;
  }
  .whiteDots,
  .blackDots {
    width: 0.9rem;
    height: 0.9rem;
  }
  .bubble {
    padding: 0.85rem;
    width: 8rem;
    height: 8rem;
  }
  .bubble:hover {
    width: 11rem;
    height: 11rem;
  }
  .rightRows {
    gap: 3.554rem;
  }
  .leftRows {
    gap: 3.554rem;
    /* top: 30%; */
  }
  .rightRows:last-child {
    gap: 3.554rem;
    /* top: 60%; */
  }
  .competitiveDiv {
    height: 33.5rem;
  }
  .competitiveDiv::after {
    box-shadow: 0px 0px 25rem 12rem #d9d9d933;
  }
}
@media (max-width: 768px) {
  .whiteStrips {
    height: 5.6rem;
    gap: 1.1rem;
  }
  .blackStrips {
    height: 5.6rem;
    gap: 2.1rem;
  }
  .whiteStripDiv {
    gap: 1.1rem;
  }
  .blackStripDiv {
    gap: 2.1rem;
  }
  .whiteStripDiv h1 {
    font-size: 2.6rem;
  }
  .blackStripDiv img {
    width: 3.1rem;
    height: 3.1rem;
  }
  .whiteDots,
  .blackDots {
    width: 0.8rem;
    height: 0.8rem;
  }
  .bubble {
    padding: 0.75rem;
    width: 7rem;
    height: 7rem;
  }
  .bubble:hover {
    width: 10rem;
    height: 10rem;
  }
  .rightRows {
    gap: 3.554rem;
  }
  .leftRows {
    gap: 3.554rem;
    /* top: 27.5%; */
  }
  .rightRows:last-child {
    gap: 3.554rem;
    /* top: 55%; */
  }
  .competitiveDiv {
    height: 28.5rem;
  }
  .competitiveDiv::after {
    box-shadow: 0px 0px 23rem 12rem #d9d9d933;
  }
}
@media (max-width: 550px) {
  .whiteStrips {
    height: 4rem;
    gap: 1rem;
  }
  .blackStrips {
    height: 4rem;
    gap: 2rem;
  }
  .whiteStripDiv {
    gap: 1rem;
  }
  .blackStripDiv {
    gap: 2rem;
  }
  .whiteStripDiv h1 {
    font-size: 2rem;
  }
  .blackStripDiv img {
    width: 2rem;
    height: 2rem;
  }
  .whiteDots,
  .blackDots {
    width: 0.6rem;
    height: 0.6rem;
  }
  .bubble {
    padding: 0.65rem;
    width: 7rem;
    height: 7rem;
  }
  .bubble:hover {
    width: 10rem;
    height: 10rem;
  }
  .rightRows {
    gap: 3.554rem;
  }
  .leftRows {
    gap: 3.554rem;
    /* top: 27.5%; */
  }
  .rightRows:last-child {
    gap: 3.554rem;
    /* top: 55%; */
  }
  .competitiveDiv::after {
    box-shadow: 0px 0px 20rem 12rem #d9d9d933;
  }
}
@media (max-width: 480px) {
  .whiteStrips {
    height: 3.125rem;
    gap: 0.619rem;
  }
  .blackStrips {
    height: 3.125rem;
    gap: 1.533rem;
  }
  .whiteStripDiv {
    gap: 0.619rem;
  }
  .blackStripDiv {
    gap: 1.533rem;
  }
  .whiteStripDiv h1 {
    font-size: 1.25rem;
  }
  .blackStripDiv img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .whiteDots,
  .blackDots {
    width: 0.375rem;
    height: 0.375rem;
  }
  .bubble {
    padding: 0.55rem;
    width: 5.331rem;
    height: 5.331rem;
  }
  .bubble:hover {
    width: 7.331rem;
    height: 7.331rem;
  }
  .rightRows {
    gap: 2rem;
  }
  .rightRows:last-child {
    gap: 2rem;
    /* top: 41%; */
  }
  .leftRows {
    gap: 2rem;
    /* top: 20%; */
  }
  .competitiveDiv {
    height: 23.5rem;
  }
  .competitiveDiv::after {
    box-shadow: 0px 0px 18rem 12rem #d9d9d933;
  }
}
@media (max-width: 400px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
