.wrapperDiv {
  z-index: 3;
  position: absolute;
  background: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.pageDiv {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 100vw;
  height: 90vh;
}
.pageDiv::after {
  content: "";
  z-index: 2;
  position: relative;
  display: flex;
  width: 0rem;
  height: 0rem;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -5rem 0rem 25rem 12rem #d9d9d933;
}
.cubes {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.cubeDiv {
  width: 20rem;
  height: 20rem;
}
.topCubes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.bottomCubes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100vw;
}
.backgroundImg {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow-x: clip;
}
.gridBackground {
  animation: animate1 10s linear infinite;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  width: 40.806rem;
  height: 31.575rem;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 40%, 0.4) 1px,
      transparent 0
    ),
    linear-gradient(180deg, hsla(0, 0%, 40%, 0.4) 1px, transparent 0);
  background-size: 4.52rem 4.5rem;
}
@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.headingDiv {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: transparent;
}
.headingDiv h1 {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.14rem;
  margin-right: -0.14rem;
  background: transparent;
}
.headingDiv h2 {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.14rem;
  margin-right: -0.14rem;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, transparent 50%, #5c5c5c73 50%);
  background-size: 200%;
  animation: appearFromLeft 1s cubic-bezier(0.69, 0.01, 1, 0.42) forwards;
}
@keyframes appearFromLeft {
  to {
    background-position: -100% 0;
  }
}
.colorText {
  font-weight: 700;
  font-size: 5rem;
  background: linear-gradient(
    190deg,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0
  );
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
.pageDiv p {
  text-align: center;
  max-width: 48.125rem;
  font-weight: 400;
  font-size: 1.125rem;
  background: transparent;
}
.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.375rem;
  margin-top: 1.25rem;
  background: transparent;
}
.mainDiv {
  display: flex;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.buttonDiv {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 2;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  gap: 0.625rem;
  font-size: 1.5rem;
  width: 18.373rem;
  height: 3.875rem;
}
.colorDiv {
  position: absolute;
  top: 0.313rem;
  left: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background: linear-gradient(to right, #804ced, #f48fd0);
}
.arrowDiv {
  position: relative;
  display: flex;
  background: transparent;
  width: 1rem;
  height: 1rem;
}
.arrowButton {
  background: transparent;
  width: 1rem;
  height: 1rem;
}
.mainDiv:hover .colorDiv {
  animation: moveIn 2s;
}
@keyframes moveIn {
  0% {
    transform: translate(0rem, 0rem);
    box-shadow: 0px 0px 50px 1px #804ced, 0px 0px 50px 1px #f48fd0;
  }
  25% {
    transform: translate(-0.5rem, -0.313rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
.mainDiv:hover .arrowButton {
  animation: arrow 1s;
}
@keyframes arrow {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-20%, 20%);
  }
  50% {
    transform: translate(150%, -150%);
    display: none;
  }
  75% {
    transform: translate(-150%, 150%);
    display: none;
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@media (max-width: 1440px) {
  .gridBackground {
    width: 36.806rem;
    height: 27.575rem;
    background-size: 4.08rem 3.93rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 4.5rem;
  }
}
@media (max-width: 1366px) {
  .gridBackground {
    width: 31.806rem;
    height: 22.575rem;
    background-size: 3.52rem 3.21rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 4rem;
  }
  .cubeDiv {
    width: 20rem;
    height: 20rem;
  }
  .bottomCubes {
    padding: 0rem 5rem;
  }
  .pageDiv p {
    font-size: 1rem;
    max-width: 45.125rem;
  }
  .buttonDiv {
    font-size: 1.4rem;
    width: 16.373rem;
    height: 3.675rem;
  }
}
@media (max-width: 1220px) {
  .gridBackground {
    width: 31.806rem;
    height: 22.61rem;
    background-size: 3.52rem 3.22rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 3.5rem;
  }
  .cubeDiv {
    width: 18rem;
    height: 18rem;
  }
  .pageDiv p {
    font-size: 1rem;
    max-width: 40.125rem;
  }
  .buttonDiv {
    font-size: 1.3rem;
    width: 14.373rem;
    height: 3.575rem;
  }
}
@media (max-width: 1024px) {
  .headingDiv {
    flex-direction: column;
  }
  .gridBackground {
    width: 29.806rem;
    height: 20.575rem;
    background-size: 3.3rem 2.93rem;
  }
  .cubeDiv {
    width: 18rem;
    height: 18rem;
  }
  .bottomCubes {
    padding: 0rem 3rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 4rem;
  }
  .buttonsDiv {
    flex-direction: column;
  }
  .pageDiv p {
    display: none;
  }
}
@media (max-width: 900px) {
  .headingDiv {
    flex-direction: column;
  }
  .gridBackground {
    width: 28.688rem;
    height: 19.556rem;
    background-size: 3.18rem 2.78rem;
  }
  .cubeDiv {
    width: 16rem;
    height: 16rem;
  }
  .bottomCubes {
    padding: 0rem 3rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 4rem;
  }
  .buttonsDiv {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .headingDiv {
    flex-direction: column;
  }
  .gridBackground {
    width: 26.688rem;
    height: 17.556rem;
    background-size: 2.96rem 2.5rem;
  }
  .cubeDiv {
    width: 14rem;
    height: 14rem;
  }
  .bottomCubes {
    padding: 0rem 2rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 3rem;
  }
  .buttonsDiv {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 550px) {
  .cubeDiv {
    width: 12rem;
    height: 12rem;
  }
  .bottomCubes {
    padding: 0rem 2rem;
  }
  .gridBackground {
    width: 24.813rem;
    height: 18.759rem;
    background-size: 2.75rem 2.67rem;
  }
  .pageDiv::after {
    box-shadow: -2rem 6rem 9rem 7rem #d9d9d933;
  }
}
@media (max-width: 480px) {
  .gridBackground {
    width: 24.813rem;
    height: 18.759rem;
    background-size: 2.75rem 2.67rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 3rem;
  }
  .topCubes {
    width: 115%;
  }
  .bottomCubes {
    padding: 0rem 0rem;
  }
  .buttonDiv {
    font-size: 0.875rem;
    width: 13.251rem;
    height: 2.326rem;
  }
  .arrowDiv,
  .arrowButton {
    width: 0.875rem;
    height: 0.875rem;
  }
  .pageDiv p {
    font-size: 1rem;
    max-width: 45.125rem;
  }
}
@media (max-width: 400px) {
  .gridBackground {
    width: 18.813rem;
    height: 12.77rem;
    background-size: 2.08rem 1.82rem;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 2.5rem;
  }
  .topCubes {
    width: 115%;
  }
  .bottomCubes {
    padding: 0rem 0rem;
  }
}
@media (max-width: 360px) {
  .gridBackground {
    width: 18.813rem;
    height: 12.77rem;
  }
  .topCubes {
    width: 125%;
  }
  .bottomCubes {
    width: 120%;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .gridBackground {
    width: 16.829rem;
    height: 10.763rem;
    background-size: 1.87rem 1.53rem;
  }
  .topCubes {
    width: 135%;
  }
  .bottomCubes {
    width: 135%;
  }
  .headingDiv h1,
  .headingDiv h2,
  .colorText {
    font-size: 2rem;
  }
}
