.glow1,
.glow2,
.glow3,
.glow4,
.glow5,
.glow6 {
  /* height: 100%; */
  width: 100%;
  max-width: 58.125rem;
  position: relative;
  background: transparent;
}
.glow1::after,
.glow2::after,
.glow3::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  right: 0;
}

.glow1::after {
  box-shadow: 1rem -3rem 4rem 4rem #f8c7334d;
}
.glow2::after {
  box-shadow: -3rem -1rem 4rem 4rem #35d8704d;
}
.glow3::after {
  box-shadow: 2rem 1rem 4rem 4rem #f48fd04d;
}

.container {
  /* display: inline; */
  /* border: 2px solid red; */
  border-radius: 0.5rem;
  width: 25rem;
  /* height: 23.375rem; */
  z-index: 2;
  background-color: #262628;
  position: relative;
  /* margin-bottom: 3.5rem; */
  overflow: auto;
}

.cardContainer {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  padding: 2.188rem;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  /* padding: 35px 35px; */
  border-radius: 0.5rem;
}

.cardMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262628;
  color: #afafaf;
  /* padding-left: 35px; */
  width: fit-content;
  margin-top: 3.75rem;
  /* padding-top: 36px; */
  gap: 1rem;
}

.cardBottom {
  display: flex;
  background-color: #262628;
  color: #afafaf;
  /* padding-left: 35px;
  padding-top: 50px; */
  margin-top: 3.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration: none;
}

.cardBottom:hover {
  text-decoration: underline;
}

.headingOne {
  /* position: relative;
    justify-content: right; */

  background-color: inherit;
  color: #afafaf;
  width: fit-content;
}

.headingTwo {
  background-color: inherit;
  width: fit-content;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.headingThree {
  color: #ffffff;
  background-color: #262628;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.headingFour {
  color: #afafaf;
  background-color: #262628;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 1440px) {
  .container {
    width: 24rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 21.718rem;
    /* height: 20.306rem; */
    border-radius: 0.434rem;
  }

  .cardContainer {
    padding: 1.875rem;
  }

  .cardTop {
    /* padding: 30.4px 30.4px; */
    border-radius: 6.95px;
  }

  .cardMiddle {
    /* padding-left: 30.4px; */
    margin-top: 3.25rem;
    /* padding-top: 30px; */
    gap: 0.844rem;
  }

  .cardBottom {
    /* padding-left: 30.4px;
    padding-top: 39px; */
    margin-top: 3.438rem;
    font-weight: 400;
    font-size: 0.844rem;
    line-height: 1.095rem;
  }

  .headingTwo {
    font-weight: 500;
    font-size: 0.844rem;
    line-height: 1.095rem;
  }

  .headingThree {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  .headingFour {
    font-weight: 400;
    font-size: 0.844rem;
    line-height: 1.095rem;
  }

  .imageStyle {
    height: 2.5rem;
    width: 2.098rem;
  }
}

.imageStyle {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  /* left: 35px; */
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
