.cardDiv {
  display: flex;
  align-items: center;
  background: transparent;
}
.insta{
  background: transparent;
  color: #afafaf;
  font-size: 1.5rem;
}
.cardDiv h3 {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  background-color: white;
  color: black;
  width: 1.938rem;
  height: 6.5rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: 1.9rem;
  top: 5rem;
}
.cardBox {
  position: relative;
  width: 37.5rem;
  height: 25rem;
  box-shadow: -2.371764659881592px -2.371764659881592px 0px 0px #6b6b6b;
  border-radius: 0.5rem;
  left: 1rem;
}
.socialDiv {
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  position: relative;
  top: 9rem;
  left: -3rem;
  background: none;
}
.linkDiv {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #afafaf;
  border-radius: 50%;
  background: #93939380;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleImage {
  background: transparent;
}
.linkDiv:hover {
  box-shadow: 0px 0px 10px 1px white;
}
.cardBox:hover {
  box-shadow: 0px 0px 50px 1px white;
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  .cardBox {
    width: 34rem;
    height: 25.16rem;
  }
}
@media (max-width: 1220px) {
  .cardBox {
    width: 28rem;
    height: 20.72rem;
  }
  .cardDiv h3 {
    width: 1.838rem;
  }
  .socialDiv {
    gap: 1.5rem;
  }
  .linkDiv {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 1024px) {
  .cardBox {
    width: 37.5rem;
    height: 25rem;
  }
  .cardDiv h3 {
    width: 1.938rem;
  }
  .socialDiv {
    gap: 1.688rem;
  }
  .linkDiv {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 900px) {
  .socialDiv {
    gap: 1.5rem;
  }
  .linkDiv {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 768px) {
  .cardBox {
    width: 31rem;
    height: 22.94rem;
  }
  .cardDiv h3 {
    width: 1.838rem;
  }
}

@media (max-width: 550px) {
  .cardBox {
    width: 26rem;
    height: 19.24rem;
    left: 0.5rem;
  }
  .cardDiv h3 {
    width: 1.738rem;
    font-size: 0.7rem;
    top: calc((4rem) / 1);
    left: 1.3rem;
  }
  .socialDiv {
    gap: 1rem;
    left: -2.5rem;
    top: 5.4rem;
  }
  .linkDiv {
    width: 2.2rem;
    height: 2.2rem;
  }
  .insta{
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .cardBox {
    width: 21rem;
    height: 15.54rem;
  }
  .cardDiv h3 {
    width: 1.7rem;
    height: 5.5rem;
    font-size: 0.6rem;
    top: calc((3rem) / 1);
  }
  .socialDiv {
    gap: 1rem;
    left: -1.8rem;
    top: 4.5rem;
  }
  .linkDiv {
    width: 1.546rem;
    height: 1.546rem;
  }
  .circleImage {
    width: 0.696rem;
    height: 0.696rem;
  }
}
@media (max-width: 400px) {
  .cardBox {
    width: 19rem;
    height: 14.06rem;
  }
  .cardDiv h3 {
    width: 1.5rem;
    height: 5rem;
    font-size: 0.55rem;
    top: calc((5rem) / 2);
  }
  .socialDiv {
    gap: 1rem;
    left: -1.8rem;
    top: 5rem;
  }
}
@media (max-width: 360px) {
  .cardBox {
    width: 17rem;
    height: 12.58rem;
  }
  .cardDiv h3 {
    width: 1.3rem;
    height: 4.8rem;
    font-size: 0.5rem;
    top: calc((4rem) / 2);
    left: 1.1rem;
  }
  .socialDiv {
    gap: 1rem;
    left: -1.8rem;
    top: 5rem;
  }
}
@media (max-width: 320px) {
  .cardBox {
    width: 16rem;
    height: 11.84rem;
  }
  .socialDiv {
    gap: 1rem;
    left: -1.8rem;
    top: 5rem;
  }
}
