.pageHeading {
  font-size: 80px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: transparent;
  line-height: 100.8px;
}

@media (max-width: 768px) {
  .pageHeading {
    font-size: 70px;
    font-weight: 700;
    line-height: 76.36px;
  }
}
@media (max-width: 550px) {
  .pageHeading {
    font-size: 52px;
    font-weight: 700;
    line-height: 58.36px;
  }
}
@media (max-width: 480px) {
  .pageHeading {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }
}
@media (max-width: 400px) {
  .pageHeading{
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .pageHeading{
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .pageHeading{
    font-size: 30px;
  }
}
