.searchBar {
  display: flex;
  flex: 1;
  width: 100%;
  height: 4.125rem;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  /* max-width: 660px; */
  background: none;
  z-index: 1;
}

.inputWrapper {
  height: 4rem;
  border-radius: 4px;
  background: #303030;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  width: 31.8rem;
}

.inputWrapper input{
  height: 100%;
}



.inputContainer {
  display: flex;
  flex-grow: 1;
  padding: 0.688rem 1.313rem;
  background-color: #262628;
  border-radius: 0.156rem;
  max-width: 33rem;
  height: 100%;
}

.input {
  height: 100%;
  /* background-color: #262628 !important; */
}

.iconContainer {
  display: flex;
  border-radius: 0.156rem;
  justify-content: center;
  align-items: center;
  height: 4.125rem;
  width: 4.125rem;
  background-color: #262628;
}

.icons {
  height: 100%;
  width: 100%;
  color: #afafaf;
  background-color: #262628;
}

@media (min-width: 1440px) {
  .searchBar {
    /* justify-content: center; */
  }
}

@media (max-width: 1366px) {
  .searchBar {
    /* justify-content: center; */
  }
  .inputContainer {
    max-width: 33rem;
  }
}

@media (max-width: 1220px) {
  .searchBar {
    /* justify-content: center; */
  }
  .inputContainer {
    max-width: 33rem;
  }
  .inputWrapper {
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
}

@media( max-width: 1024px){
  .inputWrapper {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  }
}

@media (max-width: 768px) {
  .searchBar {
    justify-content: center;
    gap: 1.25rem;
  }
  .inputContainer {
    height: 2.579rem;
    max-width: 14.875rem;
  }
  .iconContainer {
    height: 3rem;
    width: 3rem;
  }
  .icons {
    height: 100%;
    width: 100%;
  }
  .inputWrapper {
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    width: 80%;
    height: 3rem;
  }
}

@media (max-width: 550px) {
  .inputWrapper {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}


@media (max-width: 480px) {
  .searchBar {
    height: 2.579rem;
    max-width: 18.75rem;
  }
}
