.cardContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 82rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
  gap: 3rem;
  width: 100%;
}

.container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 1500px; */
  padding: 2rem 3.7rem;
  width: 100%;
}

.bigButtons {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  gap: 2.25rem;
}

.selection {
  display: flex;
  width: 100%;
  max-width: 82rem;
  justify-content: space-between !important;
  align-items: center;
  background: transparent;
  margin-top: 3.125rem;
  z-index: 1;
  gap: 2.25rem;
}

@media (max-width: 1440px) {
  .cardContainer {
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (max-width: 1366px) {
  .cardContainer {
    justify-content: center;
    gap: 1rem;
  }
  .selection {
    flex-direction: column-reverse;
    justify-content: center !important;
  }
}

@media (max-width: 1220px) {
  .cardContainer {
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 3rem;
  }
  .cardContainer {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .bigButtons {
    gap: 1.25rem;
    /* max-width: 18.75rem; */
    justify-content: space-between;
  }
  .container {
    padding: 2rem 2rem;
  }
  .cardContainer {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem 1rem;
  }
}
